h1
{
	font-size: 3em;
	line-height: 1.1em;
	color: $barleyCorn;
	font-family: $roboto;
	font-variant: small-caps;
	letter-spacing: 0.05em;
	font-weight: normal;
}

h2
{
	font-size: 1.4em;
	color: $barleyCorn;
	font-family: $quicksand;
}

h3
{
	font-size: 1.1em;
	font-family: $quicksand;
}

h4
{
	font-size: 1em;
	font-family: $quicksand;
}

h5
{
	font-size: 0.9em;
	font-family: $quicksand;
}

h6
{
	font-size: 0.9em;
	font-family: $quicksand;
}