ul {
	list-style: none;
	margin: 1em 0;
	padding: 0;
}

ul li {
	background: url(assets/images/bullet.gif) no-repeat 10px 5px transparent;
	list-style-type: none;
	margin: 0;
	padding: 0px 0px 10px 35px;
	background-size: 9px;
}

ul li ul li {
	background: url(assets/images/bullet.gif) no-repeat 13px 5px transparent;
	background-size: 7px;
}

ul li ul li ul li {
	background: url(assets/images/bullet.gif) no-repeat 14px 5px transparent;
	background-size: 5px;
}
