.content 
{
	padding: 285px 0 $gutter-super 0;
	margin-bottom: 0;
	background-color: $mercury;
	min-height: 100vh;
	transition: padding $timings-medium ease-in-out;

	&--sticky
	{
		padding-top: 160px;
		transition: padding $timings-medium ease-in-out;
	}

	&--homepage
	{
		background-color: $codGray;
	}
}


@media only screen and (max-width: $breakpoint-tablet)
{
	.content
	{
		padding-top: $gutter-super;

		&--sticky
		{
			padding-top: $gutter-super;
		}
	}
}