.copyright
{
	&__text
	{
		margin: 0;
		font-family: $roboto-slab;
		color: $white;
	}

	&__title
	{
		display: block;
	}
}


@media only screen and (max-width: $breakpoint-mobile)
{
	.copyright
	{
		display: block;

		&__title
		{
			display: inline-block;
		}		
	}
}