.process
{
	position: relative;
	margin: ($gutter-super-large*2) 0;

	&__background
	{
		position: relative;

		img
		{
			max-width: 80%;
			margin: 0 auto;
		}
	}

	&__information
	{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
	}

	&__container
	{
		display: inline-block;
	}

	&__image
	{
		position: absolute;

		img
		{
			max-width: 85%;
			margin: 0 auto;
			border: $border-large solid transparent;
			border-radius: $border-radius-circle;
			transition: border $timings-linear ease;
		}

		&--active
		{
			img
			{
				border: $border-large solid $barleyCorn;
				border-radius: $border-radius-circle;
				transition: border $timings-linear ease;
			}
		}
	}

	&__text
	{
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		margin: 0 auto;
		width: 40%;
		text-align: center;
		transform: translateY(-50%);
    	

    	&--display
    	{
    		display: block;
    	}
	}
}