.quote
{
	position: absolute;
	top: 10px;
	left: 20px;
	width: 300px;
	z-index: 3;

	&__author
	{
		color: $white;
    	font-family: $quicksand;
    	font-size: 0.8em;
    	float: right;
    	margin-right: 6%;
	}
}


@media only screen and (max-width: $breakpoint-tablet)
{
	.quote
	{
		top: -130px;
		left: auto;
		width: 100%;
	}
}


@media only screen and (max-width: $breakpoint-mobile)
{
	.quote
	{
		top: -160px;
	}
}