.tabs
{
	margin: 0 0 $gutter-large 0;
	padding: 0;
	text-align: center;

	&__tab
	{
		background: none;
		padding: 0;
		display: inline-block;
		margin: 0 $gutter-medium $gutter-medium;
		font-family: $roboto;

		& > a
		{
			text-decoration: none;
			font-weight: bold;
			padding-bottom: $gutter-extra-tiny;
			border-bottom: $border-medium solid transparent;
			transition: border-bottom $timings-linear ease; 

			&:hover
			{
				color: $black;
				border-bottom: $border-medium solid $black;
				transition: border-bottom $timings-linear ease;
			}
		}

		&--active
		{
			& > a
			{
				border-bottom: $border-medium solid $black;
			}
		}
	}
}